.hero
	figure.hero-look
		img(src=`${assetsPath}assets/hero.png?v=${verTag}`)
		b.hero-look-npc ??
	.hero-info
		.hero-instock
			.hero-sku.hero-sku--1
				.hero-info-la L-Black
				.hero-info-zh 大黑
			.hero-sku.hero-sku--2
				.hero-info-la XS-White
				.hero-info-zh 小白
			.hero-sku-group.hero-sku--3
				.hero-sku
					.hero-info-la XL-Yellow
					.hero-info-zh 大黄
				.hero-sku
					.hero-info-la S-Black
					.hero-info-zh 小黑
			.hero-sku.hero-sku--4
				.hero-info-la S-Dot
				.hero-info-zh 小点
			.hero-sku.hero-sku--5
				.hero-info-la L-Dot
				.hero-info-zh 大点
