.header
	.header-title
		h1.header-title-la cat<span class="header-title-a">ɐ</span><span class="header-title-log">log</span>
		h2.header-title-zh 猫<span class="header-title-de">的</span><span class="header-title-luxiang">录像</span>
	p.header-desc a <b>ca</b>s<b>t</b> of <b>cat</b>s